@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CHEAT BANK</h1>
    <p class="lead">A bank for all of your retro cheats.</p>
  
</div>

<div class="row">
    <div class="col-md-4">
        <h2>SNES</h2>
        <p>
            The SNES is Nintendo's second programmable home console, following the Nintendo Entertainment System (NES). The console introduced advanced graphics and sound capabilities compared with other systems at the time. The system was designed to accommodate the ongoing development of a variety of enhancement chips integrated in game cartridges to be competitive into the next generation.
        </p>

    </div>
    <div class="col-md-4">
        <h2>SEGA</h2>
        <p>Sega is the world's most prolific arcade game producer, having developed more than 500 games, 70 franchises, and 20 arcade system boards since 1981.</p>

    </div>
    <div class="col-md-4">
        <h2>PS1</h2>
        <p>The original PlayStation, released in Japan on December 3, 1994, was the first of the ubiquitous PlayStation series of console and hand-held game devices. It has included successor consoles and upgrades including the Net Yaroze (a special black PlayStation with tools and instructions to program PlayStation games and applications), "PS one" (a smaller version of the original) and the PocketStation (a handheld which enhances PlayStation games and also acts as a memory card). It was part of the fifth generation of video game consoles competing against the Sega Saturn and the Nintendo 64.</p>

    </div>
</div>